
@charset "utf-8";

/* Layout */
#wrap	 {margin:0 auto; width:640px;}

/* header  */
.header	{position:relative; width:640px; height:120px; margin:0 0 30px 0;}
.header h1	{position:absolute; top:23px; left:21px; width:85px; height:60px;}

.header	.gnb	{position:absolute; width:105px; height:79px; top:21px; right:45px;}


/* Contents  */
.contents	{width:640px; margin:0 20px 10px 20px;}
.contents.gall	 {margin:0 20px 0 20px;}
.contents.gall_list	 {width:640px; margin:0 8px 0 20px;}

/* info */
.info_wrap	{position:relative; width:640px; height:88px; margin:0 0 24px 0;}
.info_wrap	ul.btn_info	{position:absolute; top:54px; right:0; width:145px; height:34px;}
.info_wrap	ul.btn_info	li	{float:left; width:34px; height:34px; margin:0 0 0 14px;;}

.map_wrap	{overflow:hidden; width:640px; height:180px;}

/* gallery */
.gallery_wrap	 a	{display:inline-block; margin:0 0 18px 0;}
.gallery_wrap	 a.end	 {margin:0;}

.list_top	{margin:23px 0 10px 0; height:14px}
.list_top	h1	{float:left;}
.list_top	.btn_back	 {float:right; padding-right:12px;}

.list_wrap	{}
.list_wrap:after	{content:""; display:block; clear:both;}
.list_wrap	ul li	{float:left; width:150px; height:150px; margin:0 12px 12px 0; background:#fff; line-height:0; font-size:0; overflow:hidden;}
.list_wrap	ul li	a	{width:150px; height:150px; display:table-cell; text-align:center; vertical-align:middle;}
.list_wrap	ul li	img	{height:150px}


.view_wrap	{position:relative; width:640px; height:480px; line-height:0; display:table-cell; text-align:center; vertical-align:middle;}
.view_wrap	img	{width:640px;}
.view_wrap	.btn_wrap	 {position:absolute; width:640px; top:47%;}
.view_wrap	.btn_wrap		img	{width:34px; height:34px;}
.view_wrap	.btn_wrap		.btn_prev	{float:left;}
.view_wrap	.btn_wrap		.btn_next	{float:right;}

